<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="script.js"></script>
    <link rel="stylesheet" href="style.css">
    <title><%=title%></title>
</head>

<body>
    <div class="menu-container">
        <div class="menu" id="File">File</div>
        <div class="menu" id="Home">Home</div>
    </div>
    <div class="menu-options-container">
        <div class="menu-options" id="File-menu-options">
            <div id="New">New</div>
            <div id="Open">Open</div>
            <div id="Save">Save</div>
        </div>
        <div class="menu-options" id="Home-menu-options">
            <div class="menu-group">
                <div class="menu-row">

                    <select name="" id="font-family">
                        <option value="Arial">Font-1</option>
                        <option value="Cambria">Font-2</option>
                        <option value="Georgia">Font-3</option>
                        <option value="monospace">Font-4</option>
                        <option value="sans-serif">Font-5</option>
                    </select>

                    <select name="" id="font-size">
                        <option value="10">10</option>
                        <option value="12">12</option>
                        <option value="14">14</option>
                        <option value="16">16</option>
                        <option value="18">18</option>
                        <option value="22">22</option>
                    </select>
                </div>
                <div class="menu-row">
                    <input type="button" id="bold" value="B">
                    <input type="button" id="underline" value="U">
                    <input type="button" id="italic" value="I">
                    <input type="color" id="bg-color" value="rebeccapurple">
                    <input type="color" id="text-color" value="gray">
                </div>
            </div>
            <div class="menu-group">
                <input type="button" id="left" value="L" halign="left">
                <input type="button" id="center" value="C" halign="center">
                <input type="button" id="right" value="R" halign="right">
            </div>
        </div>
    </div>
    <div class="formulaBar"><input id="address-input" class="text-container ib" type="text"><input id="formula-input" class="formula-container" type="text">
    </div>
    <div class="cell-container">
        <div id="top-left-cell"></div>
        <div id="top-row">
            <%for(let i = 0 ; i < cols ; i++){%>
            <div class="cell">
                <%=String.fromCharCode(i+65)%>
            </div>
            <%}%>
        </div>
        <div id="left-col">
            <%for(let j = 0 ; j < rows ; j++){%>
            <div class="cell">
                <%=j + 1%>
            </div>
            <%}%>
        </div>
        <div id="grid">
            <% for(let i=0;i<rows;i++) { %>
            <div class="row">
                <% for(let j=0;j<cols;j++){ %>
                <div class="cell" contenteditable="true" row-id=<%=i%> col-id=<%=j%>></div>
                <%}%>
                </div>
                <% } %>
            </div>
        </div>
    </div>
    <div class="sheets">Sheets</div>
</body>

</html>